<div class="bg"></div>

<nav role="navigation" class="navbar navbar-expand-lg header" id="header" (scroll)="handleScroll($event)">
  <a class="navbar-brand" href="#">Showcase</a>
  <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#second">Lorem ipsum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#third">Morbi quis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#fourth">Integer varius</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#fifth">Sed congue nunc</a>
      </li>
    </ul>
  </div>
</nav>



<div class="second" id="second">
  <div class="second-part">
    <div class="title-two-part">Lorem ipsum</div>

    <div class="one">
      <div class="image"><img src="https://flagcdn.com/80x60/de.png" srcset="https://flagcdn.com/160x120/pl.png 2x,
        https://flagcdn.com/240x180/pl.png 3x" width="80" height="60" alt="Polska"></div>

      <h2>Lorem ipsum</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in finibus erat. Curabitur ullamcorper interdum mi, nec pretium lectus porta vel.
      Aliquam venenatis nunc ligula, eu facilisis nibh fermentum in.</p>

      <div class="btn"><button type="button">Read more</button></div>
    </div>

    <div class="two">

      <div class="image"><img src="https://flagcdn.com/80x60/de.png" srcset="https://flagcdn.com/160x120/gb.png 2x,
          https://flagcdn.com/240x180/gb.png 3x" width="80" height="60" alt="Wielka Brytania (Zjednoczone Królestwo)"></div>

      <h2>Pellentesque vestibulum</h2>

      <p>Pellentesque vestibulum in leo vel commodo. Aliquam ullamcorper congue ultrices. Curabitur vitae diam nisl.
        Vestibulum mattis mauris nibh. Maecenas ligula leo, imperdiet id eros eu, tincidunt scelerisque est. Fusce imperdiet ligula tempus, auctor ex a, mattis arcu.
        Donec pharetra est id mattis fringilla.</p>

      <div class="btn"><button type="button">Read more</button></div>
    </div>

    <div class="three">

      <div class="image"><img src="https://flagcdn.com/80x60/de.png" srcset="https://flagcdn.com/160x120/de.png 2x,
        https://flagcdn.com/240x180/de.png 3x" width="80" height="60" alt="Niemcy"></div>

      <h2>Praesent quis elementum nibh</h2>

      <p>Praesent quis elementum nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      Curabitur pretium leo hendrerit nibh ullamcorper, quis scelerisque sapien semper. Phasellus nec lectus ligula.</p>

      <div class="btn"><button type="button">Read more</button></div>
    </div>

    <div class="four">
      <div class="image"><img src="https://flagcdn.com/80x60/de.png" srcset="https://flagcdn.com/160x120/it.png 2x,
        https://flagcdn.com/240x180/it.png 3x" width="80" height="60" alt="Włochy"></div>

      <h2>Pellentesque pharetra</h2>

      <p>Pellentesque pharetra in eros ac sodales. Pellentesque finibus posuere gravida.
      Morbi tortor augue, molestie id arcu nec, volutpat lobortis magna. Nam rhoncus ex a velit condimentum, non congue sem posuere.</p>

      <div class="btn"><button type="button">Read more</button></div>
    </div>
  </div>
</div>

<div class="third" id="third">

  <div class="img-part">
    <img class="third-image" src="./assets/architecture.jpg" alt="architekture">
  </div>

  <div class="discription-part">
    <h1>Quisque condimentum iaculis tristique</h1>

    <p>Sed lectus massa, finibus vel nulla ut, semper tincidunt odio. Nam eget ante dapibus, porttitor sapien at, egestas lorem.</p>
    <p>Fusce suscipit nibh consectetur tellus elementum semper. Proin id mattis libero.</p>
    <p>Mauris lectus libero, placerat euismod nisl sit amet, faucibus ornare metus. Nullam dapibus velit dolor, id luctus nisi elementum eget.</p>

    <div class="btn-third"><button type="button">Read more</button></div>
  </div>

</div>

<div class="fourth" id="fourth">

  <div class="discription-part-fourth">
    <h1>Fusce eu lacus tortor</h1>

    <p>Pellentesque consectetur arcu id ante sodales, nec sodales orci pharetra. Donec a elit ipsum.
      Suspendisse feugiat elit eget turpis rutrum, eu mollis purus condimentum.</p>

    <div class="btn-fourth"><button type="button">See more</button></div>
  </div>

  <div class="img-part-fourth">
    <img class="third-image" src="./assets/light-bulb.webp" alt="light-bulb">
  </div>

</div>

<div class="fifth" id="fifth">Proin quis lobortis nunc</div>

<div class="sixth">

  <div class="sixth-columns">
    <h2>Lorem</h2>
    <h3>Phasellus</h3>
    <h3>Ut feugiat</h3>
    <h3>Quisque</h3>
    <h3>Praesent</h3>
  </div>

  <div class="sixth-columns">
    <h2>Etiam</h2>
    <h3>Fusce</h3>
    <h3>Donec</h3>
  </div>

  <div class="sixth-columns">
    <h2>Aenean</h2>
    <h3>Duis</h3>
    <h3>Nulla dui</h3>
    <h3>Nullam</h3>
  </div>

  <div class="sixth-columns">
    <h2>Morbi</h2>
    <h3>Aliquam</h3>
    <h3>Proin</h3>
    <h3>Neque</h3>
    <h3>Maecenas</h3>
  </div>

  <div class="sixth-columns">
    <h2>Sed malesuada</h2>
    <h3>Nam augue</h3>
    <h3>Suspendisse </h3>
  </div>

</div>




